<% provide(:title, "刷卡记录") %>
<h1 class="page-header">刷卡记录</h1>

<div class="form-inline">

  <%= link_to '添加刷卡记录', new_credit_card_record_path, class: 'btn btn-default', 'data-no-turbolink' => true %>

</div>

<% if @credit_card_records.present? %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>银行</th>
        <th>卡号</th>
        <th>币种</th>
        <th>刷卡金额</th>
        <th>刷卡日期</th>
        <th>收款记录</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @credit_card_records.each do |c| %>
        <tr>
          <% card = c.credit_card %>
          <td><%= card.bank_name %></td>
          <td><%= card.number %></td>
          <td><%= c.currency_name %></td>
          <td><%= c.amount %></td>
          <td><%= c.credit_date %></td>
          <td><%= c.repayment_record&.message %></td>
          <td><%= link_to'修改' , edit_credit_card_record_path(c), class: 'btn btn-info'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>